.schedule-container {
  margin: 1rem 9rem 1rem 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  .schedule-container {
    margin: 1rem 3rem 1rem 0;
  }
}

@media screen and (max-width: 480px) {
  .schedule-container {
    margin: 1rem 3rem 1rem 0;
    font-size: 1.1rem;
  }
}
