.schedule-item-container {
  display: flex;
  padding: 1rem 0;
}

.schedule-item-time {
  margin-right: 1rem;
  min-width: 145px;
}

.schedule-item-speaker {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--primary-orange);
}

.schedule-item-speaker span {
  margin-left: 1rem;
}

@media screen and (max-width: 480px) {
  .schedule-item-time {
    min-width: 114px;
  }

  .schedule-item-speaker {
    font-size: 1rem;
  }

  .schedule-item-speaker span {
    margin-left: 0.5rem;
  }
}
