.schedule-item-container {
  display: flex;
  padding: 1rem 0;
}

.schedule-item-time {
  margin-right: 1rem;
  min-width: 145px;
}

.schedule-item-speaker {
  font-style: italic;
  font-size: 1.2rem;
}

.schedule-item-speaker span {
  margin-left: 1rem;
}
