.header {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.logo img {
  width: 30rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #dddddd;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}
