.speakers-container {
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.speakers-padding-bottom {
  padding-bottom: 4rem;;
}

@media screen and (max-width: 820px) {
  .speakers-container {
    margin: 0 0.5rem;
  }
}
