.register {
  background-color: var(--primary-petrol);
  color: white;
  font-size: 1.5rem;
  padding: 4rem 2rem;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem !important;
}

.register a {
  text-decoration: underline;
}

@media screen and (max-width: 820px) {
  .register {
    margin: 0.5rem;
    padding: 3rem 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .register {
    font-size: 1.4rem;
  }
}
