:root {
  /* Colours */
  --primary-petrol: #0f596e;
  --primary-petrol-80: #30889c;
  --primary-petrol-60: #71a2b2;
  --primary-petrol-30: #baced7;

  --primary-orange: #eb6012;
  --primary-orange-80: #f2874f;
  --primary-orange-60: #eeba95;
  --primary-orange-30: #f7dec9;

  /* Screen sizes */
  --small-phone-size: 320px;
  --medium-phone-size: 375px;
  --large-phone-size: 425px;
  --xlarge-phone-size: 480px;
  --tablet-size: 768px;
  --laptop-size: 1024px;
}

html {
  font-family: ProximaNova, sans-serif !important;
  font-size: 100%;
}

body {
  padding-bottom: 50px !important;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 560px) {
  #__next {
    display: flex;
  }
}
